<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-content>
        <ion-card-title>{{ amigo?.nombre_completo }}</ion-card-title>
        <ion-card-subtitle>{{ amigo?.cumpleanos }}</ion-card-subtitle>
        <p>{{ amigo?.telefono }}</p>
        <p>{{ amigo?.email }}</p>
        <p>{{ amigo?.contrasena }}</p>
      </ion-card-content>
      <ion-list>
        <ion-item>
            <ul>
              <li>Superman</li>
              <li>Batman</li>
              <li>Flash</li>
            </ul>
        </ion-item>
      </ion-list>
    </ion-card>

    
  
</ion-content>
