<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-content>
        <ion-card-title>{{ amigo?.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ amigo?.fecha | date : 'dd/MM/y hh:mm a' }}</ion-card-subtitle>
        <p>{{ amigo?.lugar }}</p>
        <p>{{ amigo?.notas }}</p>
      </ion-card-content>
      <ion-list>
        <ion-item>
            <ul>
              <li>Superman</li>
              <li>Batman</li>
              <li>Flash</li>
            </ul>
        </ion-item>
      </ion-list>
    </ion-card>

    
  
</ion-content>
