<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let amigo of amigos" lines="full">
      <ion-avatar slot="start">
        <ion-icon name="person-circle"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-icon name="person"></ion-icon> {{ amigo.nombre_completo }}
        </h2>
        <p>
          <ion-icon name="call"></ion-icon> {{ amigo.telefono }}
        </p>
        <p>
          <ion-icon name="calendar"></ion-icon> {{ amigo.cumpleanos }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

