<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<!--------------------------------/*FORMULARIO DE REGISTRAR EVENTO*/-------------------------------------------------->

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="ion-margin">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>
        <ion-input placeholder="Nombre" [(ngModel)]="nombre" clearInput></ion-input>
      </ion-label>
    </ion-item>
  
    <ion-item class="ion-margin">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>
        <ion-input type="datetime-local" placeholder="Fecha" [(ngModel)]="fecha" clearInput></ion-input>
      </ion-label>
    </ion-item>
  
    <ion-item class="ion-margin">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label>
        <ion-input placeholder="Lugar" [(ngModel)]="lugar" clearInput></ion-input>
      </ion-label>
    </ion-item>
  
    <ion-item class="ion-margin">
      <ion-icon slot="start" name="clipboard-outline"></ion-icon>
      <ion-label>
        <ion-input placeholder="Notas" [(ngModel)]="notas" clearInput></ion-input>
      </ion-label>
    </ion-item>

    <ion-button expand="block" class="ion-margin" (click)="guardar()">
      <ion-icon name="send" slot="start"></ion-icon>
      Registrar
    </ion-button>
  </ion-list>

<!--------------------------------/*FORMULARIO DE REGISTRAR EVENTO*/-------------------------------------------------->

<!--------------------------------/*ALERTA DE REGISTRAR EVENTO*/-------------------------------------------------->
<ion-alert
  [isOpen]="notificar"
  header="Evento registrado exitosamente"
  message="Puedes ir a los eventos para verlo"
  [buttons]="botones"
></ion-alert>
<!--------------------------------/*ALERTA DE REGISTRAR EVENTO*/-------------------------------------------------->


</ion-content>
