<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="ion-margin">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>
        <ion-input placeholder="Nombre" clearInput></ion-input>
      </ion-label>
    </ion-item>
  
    <ion-item class="ion-margin">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>
        <ion-input placeholder="Fecha" clearInput></ion-input>
      </ion-label>
    </ion-item>
  
    <ion-item class="ion-margin">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label>
        <ion-input placeholder="Lugar" clearInput></ion-input>
      </ion-label>
    </ion-item>
  
    <ion-item class="ion-margin">
      <ion-icon slot="start" name="clipboard-outline"></ion-icon>
      <ion-label>
        <ion-input placeholder="Notas" clearInput></ion-input>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
